<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="pagination(page)">
	
		<div class="d-flex justify-content-end">

			<a th:href="@{${page.url}(page=0)}" th:classappend="${page.first} ? 'disabled'" class="btn btn-outline-secondary me-1">
				<i class="bi-skip-backward"></i>
			</a>

			<a th:href="@{${page.url}(page=${page.current - 1})}" th:classappend="${page.first} ? 'disabled'" class="btn btn-outline-secondary me-1">
				<i class="bi-skip-start"></i>
			</a>
			
			
			<a th:each="pageNum : ${page.pages}" 
				th:text="${pageNum + 1}" th:href="@{${page.url}(page = ${pageNum})}" 
				th:classappend="${page.current == pageNum} ? 'disabled btn-secondary' : 'btn-outline-secondary' "
				class="btn me-1">1</a>

			<a th:href="@{${page.url}(page=${page.current + 1})}"  th:classappend="${page.last} ? 'disabled'" class="btn btn-outline-secondary me-1">
				<i class="bi-skip-end"></i>
			</a>

			<a th:href="@{${page.url}(page=${page.total - 1})}"  th:classappend="${page.last} ? 'disabled'" class="btn btn-outline-secondary">
				<i class="bi-skip-forward"></i>
			</a>
		</div>
	
	</div>

</body>
</html>