<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Details</title>
</head>
<body>

	<div layout:fragment="content">
	
		<div class="card mb-4">
			
			<div class="card-header"><i class="bi-pie-chart"></i> Balance Summary</div>
			
			<div class="card-body">
			
				<div class="row">
					
					<div class="col-auto">
						<span class="form-control" th:text="${#temporals.format(vo.header.date, 'yyyy-MM-dd')}">2022/10/11</span>
					</div>
				
					<div class="col-auto">
						<span class="form-control" th:text="${vo.header.type}">Incomes</span>
					</div>

					<div class="col-4">
						<span class="form-control" th:text="${vo.header.category}">Student Registration</span>
					</div>
					
					<div class="col-auto">
						<a th:href="@{/user/balance-edit(id=${vo.header.id})}" class="btn btn-primary"><i class="bi-pencil"></i> Edit Details</a>
						<a th:href="@{/user/balance/delete/} + ${vo.header.id}" class="btn btn-danger"><i class="bi-trash"></i> Delete</a>
					</div>

				</div>
			
			</div>
		
		</div>
		
		<div th:replace="/fragments/components :: balanceDetailsList(${vo}, true)"></div>	
	
	</div>

</body>
</html>