<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorate="~{/layouts/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Incomes</title>
</head>
<body>

	<div layout:fragment="content">
		
		<!-- Search Box -->
		<div class="card">
			
			<div class="card-header" th:text="${title}" >Balance</div>
			
			<div class="card-body">
				
				<form action="#" class="row">
				
					<div class="col-auto">
						<input type="date" name="dateFrom" th:value="${param.dateFrom}" class="form-control" />
					</div>
					
					<div class="col-auto">
						<input type="date" name="dateTo" th:value="${param.dateTo}" class="form-control" />
					</div>
					
					<div class="col">
						<input type="text" name="keyword" th:value="${param.keyword}" placeholder="Search Keyword" class="form-control" />
					</div>
					
					<div class="col-auto">
						<button class="btn btn-primary"><i class="bi-search"></i> Search</button>
						<a th:href="@{/user/balance-edit(type=${type})}" class="btn btn-danger"><i class="bi-plus"></i> Add New</a>
					</div>
				</form>
			
			</div>
		
		</div>
		
		
		<!-- Result Table -->
		<table class="table table-striped mt-4">
			
			<thead>
				<tr>
					<th>Date</th>
					<th>Category</th>
					<th>Item</th>
					<th class="text-end">Unit Price</th>
					<th class="text-end">Quantity</th>
					<th class="text-end">Total</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="item : ${list}" class="align-middle">
					<td th:text="${#temporals.format(item.balance.date, 'yyyy-MM-dd')}">2022/05/10</td>
					<td th:text="${item.balance.category}">Student Fees</td>
					<td th:text="${item.item}">Java Basic Online Course</td>
					<td th:text="${#numbers.formatInteger(item.unitPrice,1,'COMMA')}" class="text-end">
						150,000
					</td>
					<td th:text="${item.quantity}" class="text-end">
						10
					</td>
					<td th:text="${#numbers.formatInteger(item.unitPrice * item.quantity, 1, 'COMMA')}" class="text-end">
						1,500,000
					</td>
					<td>
						<a th:href="@{/user/balance/details/} + ${item.balance.id}" class="btn btn-link">
							<i class="bi-list"></i>
						</a>
					</td>
				</tr>
				
			</tbody>
		
		</table>
		
		<div th:include="/fragments/components :: pagination(${pagination})"></div>
	
	</div>

</body>
</html>