<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Edit Details</title>
</head>
<body>

	<div layout:fragment="content">
	
		<!-- Add Details Form -->
		<div class="card mb-4">
		
			<div class="card-header"><i class="bi-plus"></i> Add <span th:text="${balanceEditForm.header.type}"></span></div>
		
			<div class="card-body">
				
				<form th:action="@{/user/balance-edit/item}" th:object="${itemForm}" method="post" class="row">
					
					<div class="col-4">
						<input type="text" th:field="*{item}" class="form-control" placeholder="Enter Item Name" />
						<span th:errors="*{item}" class="text-secondary"></span>
					</div>
					
					<div class="col-2">
						<input type="number" th:field="*{unitPrice}" placeholder="Unit Price" class="form-control" />
						<span th:errors="*{unitPrice}" class="text-secondary"></span>
					</div>
					<div class="col-2">
						<input type="number" th:field="*{quantity}" placeholder="Quantity" class="form-control" />
						<span th:errors="*{quantity}" class="text-secondary"></span>
					</div>
					
					<div class="col">
						<button class="btn btn-outline-primary"><i class="bi-plus"></i> Add Item</button>
						<a th:if="${balanceEditForm.showSaveBtn}" th:href="@{/user/balance-edit/confirm}" class="btn btn-outline-secondary">
							<i class="bi-arrow-right"></i> Next
						</a>
					</div>
				</form>
				
			</div>
		</div>	
	
		
		<!-- Details List -->
		<div th:replace="/fragments/components :: balanceDetailsList(${balanceEditForm}, false)"></div>

	</div>		
	

</body>
</html>