<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/anonymous.html}">
<head>
<meta charset="UTF-8">
<title>Sign In</title>
</head>
<body>

	<div layout:fragment="content">
	
		<h3 class="text-center mb-3">Balance Management</h3>
		
		<form th:action="@{/signin}" method="post" class="card">
			
			<div class="card-header"><i class="bi-person-check"></i> Sign In</div>
			
			<div class="card-body">
			
				<div th:if="${param.error != null}" class="alert alert-info">Please Check Login Information.</div>
				
				<div class="mb-3">
					<label for="login">Login Id</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-lock"></i>
						</span>				
						<input id="login" name="username" type="text" class="form-control" placeholder="Enter Login Id" />
					</div>
				</div>
			
				<div>
					<label for="pass">Password</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-key"></i>
						</span>
						<input id="pass" name="password" type="password" class="form-control" placeholder="Enter Password" />
					</div>
				</div>

			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary"><i class="bi-person-check"></i> Sign In</button>
				<a th:href="@{/signup}" class="btn btn-secondary"><i class="bi-person-plus"></i> Sign Up</a>				
			</div>
		</form>
	
	</div>

</body>
</html>